@model CheeseMVC.ViewModels.ViewMenuViewModel

<h1>@Model.Menu.Name</h1>
<ul>
    @foreach(var ch in Model.Items)
    {
        <li>@ch.Cheese.Name</li>
    }
</ul>

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>
