
@model CheeseMVC.ViewModels.EditCheeseViewModel

<h1> Edit Cheese @Model.Name (id= @Model.CheeseId)</h1>

<form method="post">
    <input type="hidden" value="@Model.CheeseId" name="id" />
    <div class="form-group">
        <label asp-for="Name"></label><br />
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label><br />
        <input class="form-control" asp-for="Description">
        <span asp-validation-for="Description"></span>
        <br />
    </div>
    <div class="form-group">
        <label asp-for="Type"></label><br />
        <select class="form-control" asp-for="Type" asp-items="Model.CheeseTypes"></select>
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label><br />
        <input class="form-control" asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>
    <input type="submit" value="Edit Cheese" />

</form>
